.home-container {
    margin: auto;
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 36px;
    left: 0;
    right: 0;
    button:last-child {
        margin-left: 5px;
    }
}