@import "../../styles.scss";

.container {
    width: 450px;
    margin: 20px auto;
    height: auto;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}